{% extends 'base.html' %}
{% load static %}

        <!-- Start Navbar Area --> 

        <!-- End  Navbar Area -->

{% block content %}
        <!-- about banner -->
        <div class="page-banner-area"> 
            <div class="container-fluid">
                <div class="page-banner-content"> 
                    <h1 >About Us</h1>
                    <p><a href="index.html">Home</a>About Us</p>  
                </div> 
            </div>
        </div>
        <!-- End about banner -->

        <!-- Start About area -->
        <div class="about-area bg-color-8 pt-100 pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="about-img">
                                    <img src="{% static 'assets/images/about/about-images-1.jpg' %}" alt="images">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="about-img-2"></div>
                                <div class="about-img-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">
                        <div class="single-about-content">
                            <span>ABOUT US</span>
                            <h2>We are making land and home ownership stress free</h2>
                            <p>PWAN Xtra is a real estate marketing, investment, management and development company with a drive to providing choice classic serene, luxury homes within workable budget for our clients.</p>
                            <p>At PWAN XTRA, nothing gets in the way of your needs. When you’re looking to buy land in the 5th largest city in Africa, Lagos state, Nigeria, whether residential or commercial, we will always treat you as our top priority. Our PWAN XTRA sales consultants are waiting to provide you with a premium service for buying your dream land – visit our office for site inspection or call us today!</p>
                            <div class="about-card">
                                <div class="about-icon">
                                    <i class="flaticon-trophy"></i>
                                </div>
                                <h3>Our Vision</h3>
                                <p>To be the best real estate firm in Nigeria and in Africa at large which strives to fulfill the dream of everyone to own land and property.</p>
                            </div>
                            <div class="about-card">
                                <div class="about-icon">
                                    <i class="flaticon-trust"></i>
                                </div>
                                <h3>Our Mission</h3>
                                <p>To make land and home ownership stress free for all and give every client equal opportunity, instantly share relevant ideas and information without barriers.</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                   
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About area -->

        
        <!-- counter area -->
        <div class="counter-area bg-images-1 pt-100"> 
            <div class="container">
                <div class="counter about-counter"> 
                    <div class="row">
                        <div class="col-lg-3 col-6 col-sm-6 col-md-6"> 
                            <div class="counter-content">
                                <i class="flaticon-rating"></i> 
                                <h2>
                                    <span class="odometer" data-count="1543">00</span>
                                    <span class="target">+</span>  
                                </h2> 
                                <p>Satisfied Clients</p> 
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 col-sm-6 col-md-6"> 
                            <div class="counter-content">
                                <i class="flaticon-meeting"></i>  
                                <h2>
                                    <span class="odometer" data-count="50">00</span>
                                    <span class="target">+</span>  
                                </h2> 
                                <p>Expert Team Member</p>  
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 col-sm-6 col-md-6"> 
                            <div class="counter-content">
                                <i class="flaticon-settings"></i>  
                                <h2>
                                    <span class="odometer" data-count="50">00</span>
                                    <span class="target">+</span>  
                                </h2> 
                                <p>Activate Project</p>  
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 col-sm-6 col-md-6"> 
                            <div class="counter-content">
                                <i class="flaticon-award-symbol"></i>  
                                <h2>
                                    <span class="odometer" data-count="25">00</span>
                                    <span class="target">+</span>  
                                </h2> 
                                <p>Awards Winning</p>  
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        {% endblock %}
        <!-- End counter area -->
 <!-- why choose us two -->

<!-- End why choose us two -->

      
        <!-- Start footer area -->

        <!-- End footer area -->

        <!-- Start Copyright Area -->

        <!-- Start Copyright Area -->

        <!-- Start Go Top Area -->

        <!-- End Go Top Area -->

        <!-- Link off Js Fill -->
