{% extends 'base.html' %}
{% load static %}


            <!-- Menu For Desktop Device -->
 
        <!-- End  Navbar Area -->

{% block content %}
        <!-- Page banner Area -->
        <div class="page-banner-area"> 
            <div class="container-fluid">
                <div class="page-banner-content"> 
                    <h1>Ikenga</h1>
                    <p><a href="index">Home</a>Ikenga</p>  
                </div> 
            </div>
        </div>
        <!-- End Page banner Area -->
    <!-- Start Corporate Website Area -->
    <div class="corporate-website-area pt-100 pb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
                    <div class="corporate-image">
                        <img src=" {% static 'assets/images/services/ikenga.jpg' %}  " alt="images">
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">
                    <div class="corporate-website-content">
                        <h2>Ikenga</h2>
                        <p> Following the resounding success of our previous projects, we're thrilled to introduce Ikenga Estate , the ultimate destination for PROPERTY INVESTMENT in Umuokereke Ngwa!
                        </p>
                       <h5>Title:</h5>
                       <p>Registered Survey & Deed Of Assignment</p>
                       <h5>Price</h5>
                       <p>₦3.5M</p>
                       <h5>Estate Features</h5>
                       <p>Good Drainage System</p>
                       <p>Gated and Secure</p>
                       <p>Perimeter Fencing</p>
                       <p>Acess Road</p>
                       <p>Gardens & Landscaping</p>
                       <p>Prompt Allocation</p>
                       <h5>Estate Landmark</h5>
                       <p>11 minutes drive to Nifex Vegetable Oil Mills Ltd</p>
                       <p>15 minutes drive to Opopo Junction</p>
                       <p>21 minutes drive to Nigerian Television Authority (NTA) Aba</p>
                       <p>25 minutes drive to Aba Main Park</p>
                       <h5>Location</h5>
                       <p>Aba Abia State</p>

                    </div>
                        
                    <a href="{% static 'assets/images/Estate/IKENGA  SUBS FORM.pdf' %} " class="default-btn">Download Subscribtion Form<i class="flaticon-next"></i></a> 
                </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Corporate Website Area -->

{% endblock %}


        <!-- Start footer area -->

        <!-- End footer area -->

        <!-- Start Copyright Area -->

        <!-- Start Copyright Area -->

        <!-- Start Go Top Area -->

        <!-- End Go Top Area -->

        <!-- Link off Js Fill -->
