{% extends 'base.html' %}
{% load static %}


            <!-- Menu For Desktop Device -->

        <!-- End  Navbar Area -->


        {% block content %}
        <!-- Page banner Area -->
        <div class="page-banner-area"> 
            <div class="container-fluid">
                <div class="page-banner-content"> 
                    <h1>Isura Phase 2</h1>
                    <p><a href="index">Home</a>Isura Phase 2</p>  
                </div> 
            </div>
        </div>
        <!-- End Page banner Area -->
    <!-- Start Corporate Website Area -->
    <div class="corporate-website-area pt-100 pb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
                    <div class="corporate-image">
                        <img src="{% static 'assets/images/services/Isura Phase 2 Estate Flyer.jpg' %} " alt="images">
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">
                    <div class="corporate-website-content">
                        <h2>Isura Phase 2</h2>
                        <p>It’s tangible, it’s beautiful, it appreciates and it’s master planned!

                            Catch a glimpse of what the future looks like by investing in Isura Phase 2 today!!</p>
                       <h5>Title:</h5>
                       <p>Registered Survey & Deed Of Assignment</p>
                       <h5>Price</h5>
                       <p>₦3.5M</p>
                       <h5>Estate Features</h5>
                       <p>Good Drainage System</p>
                       <p>Gated and Secure</p>
                       <p>Perimeter Fencing</p>
                       <p>Acess Road</p>
                       <p>Gardens & Landscaping</p>
                       <p>Prompt Allocation</p>
                       <h5>Landmark</h5>
                       <p>Lagos Food Logistic Park</p>
                       <p>Epe Resort</p>
                       <p>Proposed International Airport</p>
                       <p>Government College Ketu</p>
                       <p>Craneburg Construction</p>
                       <h5>Location</h5>
                       <p>Epe</p>

                    </div>
                        
                    <a href="{% static 'assets/images/Estate/ISURA SUBS FORM phase 2.pdf' %} " class="default-btn">Download Subscribtion Form<i class="flaticon-next"></i></a> 
                </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Corporate Website Area -->


    {% endblock %}
<!-- Start footer area -->

        <!-- End footer area -->

        <!-- Start Copyright Area -->

        <!-- Start Copyright Area -->

        <!-- Start Go Top Area -->

        <!-- End Go Top Area -->

        <!-- Link off Js Fill -->
