{% extends 'base.html' %}
{% load static %}
        <!-- Start Navbar Area --> 


            <!-- Menu For Desktop Device -->

        <!-- End  Navbar Area -->

        {% block content %}
         <!-- Page banner Area -->
         <div class="page-banner-area"> 
            <div class="container-fluid">
                <div class="page-banner-content"> 
                    <h1>Sold Out Estates</h1>
                    <p><a href="">Home</a>Sold Out Estates</p>  
                </div> 
            </div>
        </div>
        <!-- End Page banner Area -->

        <!-- Start Our Services Area -->
        <div class="our-services-area pt-100 pb-100">
            <div class="container">
                <div class="section-title">
                    <span class="top-title">Sold Out</span>
                    <h2></h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="services-slider-content services-pages-content">  
                            <div class="services-slider-img">
                                <a href="">
                                    <img src="{% static 'assets/images/services/isura.jpg' %}" alt="Images">
                                </a> 
                            </div>
                           
                        </div> 
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services-slider-content services-pages-content">  
                            <div class="services-slider-img">
                                <a href="">
                                    <img src="{% static 'assets/images/services/ifunaya.jpg' %} " alt="Images">
                                </a> 
                            </div>
                           
                        </div> 
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services-slider-content services-pages-content">  
                            <div class="services-slider-img">
                                <a href="">
                                    <img src=" {% static 'assets/images/services/itura.jpg' %}" alt="Images">
                                </a> 
                            </div>
                           
                        </div> 
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services-slider-content services-pages-content">  
                            <div class="services-slider-img">
                                <a href="">
                                    <img src=" {% static 'assets/images/services/omitun.jpg' %} " alt="Images">
                                </a> 
                            </div>
                           
                        </div> 
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services-slider-content services-pages-content">  
                            <div class="services-slider-img">
                                <a href="">
                                    <img src=" {% static 'assets/images/services/aka.jpg' %}" alt="Images">
                                </a> 
                            </div>
                           
                        </div> 
                    </div>
                
                  
                    <div class="col-lg-4 col-md-6">
                        <div class="services-slider-content services-pages-content">  
                            <div class="services-slider-img">
                                <a href="services-details.html">
                                    <img src=" {% static 'assets/images/services/Ile Ayo.jpg' %}" alt="Images">
                                </a> 
                            </div>
                           
                               
                            </div>
                        </div> 
                    </div>
                </div>

            </div> 
        </div>
        <!-- End Our Services Area -->

      
        
        <!-- Start make an appointment -->
        <div class="appointment-area">
            <div class="container">
                <div class="appointment-item appointment-two">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="appointment-img">
                                <img src=" {% static 'assets/images/apartment.png' %}" alt="Images">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form class="appointment-form">
                                <div class="section-title">
                                    <h2>Make an Appointment</h2>
                                    <p></p> 
                                </div>
                                <div class="make-from">
                                    <div class="row"> 
                                        <div class="col-lg-6 col-lmd-6"> 
                                            <div class="mb-3"> 
                                                <input type="text" class="form-control" id="names" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-lmd-6"> 
                                            <div class="mb-3"> 
                                                <input type="text" class="form-control" id="emails" placeholder="Phone"> 
                                            </div>
                                        </div>
                                        <div class="col-lg-12"> 
                                            <div class="mb-3"> 
                                                <input type="email" class="form-control" id="phones" placeholder="Email"> 
                                            </div>
                                        </div>
                                        <div class="col-llg-12 col-md-12"> 
                                            <div class="mb-3">
                                                <textarea class="form-control" id="textMessage" placeholder="Message" rows="5"></textarea> 
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <button type="submit" class="default-btn"> 
                                                Submit Now <i class="flaticon-next"></i> 
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End make an appointment --> 

     {% endblock %}
        <!-- Start footer area -->

        <!-- End footer area -->

        <!-- Start Copyright Area -->

        <!-- Start Copyright Area -->

        <!-- Start Go Top Area -->

        <!-- End Go Top Area -->

        <!-- Link off Js Fill -->
